
.blocks {
    &__title {
        color: $color-01;
        margin-top: $mt;
    }

    &__list {
        list-style-type:none;
        font-size: $font-small;
        display: block;
        height: 270px;
        padding: 1rem 0;
        width: 100%;
        margin-bottom: $mb;
    }

    &__item {
        color: $color-02;
        display: block;
        float: left;
        margin: auto $space-default;
        width: calc(99% / 3 - 15px);

        @media (max-width: $tablet) {
            width: calc(99% - 30px);
        }       
    }
    
    &__img-container {
            display: block;
            height: 19.5rem;
            overflow: hidden;
            width: 100%;
            @media (max-width: $tablet) {
                 height: auto;
            }
        }

    &__text-description {
        color: $color-04;
        padding: $space-default;
    }    
    
    &__button {
            background-color: $color-01;
            border-radius: 5px;
            color: white;
            display: block;
            font-size: $font-medium;
            margin: $mt-02 4rem $mb;
            padding: 4px 8px;
            text-align: center;
            text-decoration: none;
     }
}